In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()
spark

In [2]:
df_pyspark = spark.read.csv('sample3.csv', header=True, inferSchema=True)

In [3]:
df_pyspark.show()

+--------+------------+------+
|    Name| Departments|salary|
+--------+------------+------+
|    jack|Data Science| 10000|
|    alex|          ML|  5000|
|caroline|          AI|  4000|
|    jack|          AI|  4000|
|  sandra|Data Science|  3000|
|    jack|         NLP| 20000|
|    alex|          AI| 10000|
|   kathy|          ML|  5000|
|  andrew|Data Science| 10000|
|    jack|         NLP|  2000|
+--------+------------+------+

In [4]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [5]:
df_pyspark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(salary)|
+--------+-----------+
|    jack|      36000|
|  andrew|      10000|
|  sandra|       3000|
|    alex|      15000|
|   kathy|       5000|
|caroline|       4000|
+--------+-----------+

In [6]:
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         NLP|      22000|
|          AI|      18000|
|          ML|      10000|
|Data Science|      23000|
+------------+-----------+

In [7]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(salary)|
+------------+-----------------+
|         NLP|          11000.0|
|          AI|           6000.0|
|          ML|           5000.0|
|Data Science|7666.666666666667|
+------------+-----------------+

In [8]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         NLP|    2|
|          AI|    3|
|          ML|    2|
|Data Science|    3|
+------------+-----+

In [9]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+